
body {
    font-family: Arial, sans-serif;
    background-color: #2f6fd7;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ffffff;
}

h3{
    color: #ffffff;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    display: table; /* This will shrink the width to fit the content */
    margin: 20px auto; /* This will center the box horizontally */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%; /* Adjust the width as needed */
}

/* Other styles... */

#loading {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally in flex container */
    align-items: center; /* Center vertically in flex container */
    margin-top: 20px;
    height: 300px; /* Adjust the height as needed */
}

.urlText {
    width: 50%;
}

#result code {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    width: 50%;
}

#result button {
    margin-top: 10px;
}

/* Other styles */

.copy-icon {
    cursor: pointer;
    /* Add styles or an icon for the copy button */
}

